<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="http://localhost:5000/showitems" method="get">
    <table style="width: 100%">
        <tr>
            <th>Unit</th>
            <td>Item Name</td>
            <td>Item ID</td>
            <td>Quantity</td>
            <td>Price</td>
        </tr>
        <tr>
            <th>Details</th>
            <td>{{ item_name }}</td>
            <td>{{ item_id }}</td>
            <td>{{ quantity }}</td>
            <td>{{ price }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</form>
</body>
</html>